# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-lock.yaml

# Env & local
.env
.env.*
.DS_Store

# Build/output
dist/
build/
coverage/
.tmp/
.logs/